#icon {
    height: 62px
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: rgb(199, 3, 3);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke
}

body {
    margin: 0;
    background-color: rgb(226, 68, 68);
}

#noticias {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    margin: 40px;
    color: white;
    justify-content: space-between;
}

.noticia {
    background-color: rgb(206, 8, 8);
    border: 5px solid rgb(255, 255, 255);
    margin: 10px;
    padding: 5px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img_noticia {
    height: 400px;

}

footer {
    background-color: rgb(192, 46, 46);
    padding: 10px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#escalacao {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(206, 48, 48);
    margin: 40px;
    color: white;
    justify-content: space-between;
}

.titulo_escalacao {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.img_jogador {
height: 130px;


}