#icon {
    height: 62px 
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: whitesmoke
}

body{
    margin: 0;
}